* {
  -fx-font-family: "Calibri";
  -fx-text-fill: "white";
  -fx-padding: 10;
}

.welcomeView {
  -fx-font-size: 26;
}

.root {
-fx-background-color: "#3C3C3C";
}



  /* # for IDs (to set id, 
    .class for classes
    a:hover for specific states
  */